DISCORD BOT TEST - Copy/apikeys.py
DISCORD BOT TEST - Copy/__pycache__/apikeys.cpython-310.pyc
DISCORD BOT TEST - Copy/__pycache__/apikeys.cpython-311.pyc
DISCORD BOT TEST - Copy/__pycache__/apikeys.cpython-313.pyc
DISCORD BOT TEST - Copy/client_secret_984501983758-qb9mgtff1ifslcva51krieml003io7ba.apps.googleusercontent.com.json
