DISCORD BOT TEST - Copy/apikeys.py
DISCORD BOT TEST - Copy/__pycache__/apikeys.cpython-310.pyc
DISCORD BOT TEST - Copy/__pycache__/apikeys.cpython-311.pyc
DISCORD BOT TEST - Copy/__pycache__/apikeys.cpython-313.pyc
